In [8]:
import pandas as pd
import seaborn as sns
import statsmodels.formula.api as smf
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.cross_validation import train_test_split
import numpy as np

# allow plots to appear directly in the notebook
%matplotlib inline

In [9]:
data = pd.read_csv("PreGeoMerge.csv")

In [10]:
data.head()

   Unnamed: 0        Username  indegree  outdegree  degree  Klout Score
0           0   makalieholman         0          1       1         42.0
1           1   makalieholman         0          1       1         42.0
2           2       metro_man         1          1       2         52.0
3           3  julietterichey         0          1       1         48.0
4           4      galvan_111         0          1       1         42.0

In [11]:
data = data[['degree', 'Klout Score']]
#data.head()
data.columns = ['degree', 'Klout_Score']
data.head()

   degree  Klout_Score
0       1         42.0
1       1         42.0
2       2         52.0
3       1         48.0
4       1         42.0

In [13]:
lm1 = smf.ols(formula='Klout_Score ~ degree', data=data).fit()
lm1.params

Intercept    36.613786
degree        0.544501
dtype: float64

In [14]:
lm1.pvalues

Intercept    0.0
degree       0.0
dtype: float64